.bg-style {
    box-shadow: 0 0.938em 2.188em rgba(50, 50, 93, .15), 0 0.313em 0.938em rgba(0, 0, 0, .1);
}

.link-style {
    color: black;
    transition: all 0.5s;
    position: relative;
}
.link-style:focus{
    color: cadetblue;
}
.link-style span {
    transition: all 0.3s;
}

.link-style::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-color: silver;
    transform: scale(0.1, 1);
}

.link-style:hover::before{
    opacity: 1;
    transform: scale(1, 1);
}
.link-style:focus:before{
    opacity: 1;
    transform: scale(1, 1);
}
